.list-group-item {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

body {
//  padding: 1em;
//  background-color: #d7d7d7;
}

.left {
  background-color: white;
  padding: 1em;
  box-shadow: 0 0 12px white;
}

.panel-heading {
  cursor: pointer;
}
