<div class="panel panel-default">
    <div class="panel-heading" data-parent="#skills" data-toggle="collapse" href="#skills-comm">
        <div class="panel-title">Коммерческое участие</div>
    </div>
    <div id="skills-comm" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>When</th>
                    <th>Where</th>
                    <th>What</th>
                    <th>Technology</th>
                </tr>
                </thead>
                <tr>
                    <td>c 05.2010</td>
                    <td>ИрГТУ</td>
                    <td>Сопровождение системы составления расписания
                        <ul>
                            <li>Общение с диспетчерским отделом
                            <li>Контроль заполения БД
                            <li>Автоматизация рутиных операций
                        </ul>
                    </td>
                    <td>VBA, MSSQL, PostgreSQL, BAT</td>
                </tr>
                <tr>
                    <td>с 09.2012</td>
                    <td>ИГУ ИМЭИ</td>
                    <td>Проведение занятий для студентов по дисциплинам:
                        <ul>
                            <li>Математическая логика;
                            <li>практикум на ЭВМ;
                            <li>Мат. методы обработки изображений;
                            <li>Базы данных
                        </ul>
                    </td>
                    <td>C#, Java, SQL, HTML</td>
                </tr>
                <tr>
                    <td>с 10.2012</td>
                    <td>ИрГТУ, дирекция АД</td>
                    <td>Составление проектов организации дорожного движения
                        <ul>
                            <li>Разработка и поддержка модуля для выгрузки оцифрованных данных в AutoCAD
                            <li>Работа в небольшой команде по общему проекту
                            <li>Написание SQL - отчетов
                            <li>Разработка мини-утилит для общей оптимизации процесса
                        </ul>
                        <a href="https://github.com/SevenLines/RSign">RSign</a>
                        | <a href="https://github.com/SevenLines/Tube">Tube</a>
                        | <a href="https://github.com/SevenLines/sql2docx">sql2docx</a><br/>
                    </td>
                    <td>C++ Builder, MSSQL, COM, VBA, Qt, AutoCAD, C#</td>
                </tr>
            </table>
        </div>
    </div>
</div>