<div class="panel-group" id="exp">
    <div class="panel panel-default">
        <div class="panel-heading" data-parent="#exp" data-toggle="collapse" href="#languages">
            <div class="panel-title">
                Как я оцениваю свое знание языков
            </div>
        </div>

        <div class="panel-collapse collapse in" id="languages">
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%;">
                        <span>C++</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 70%;">
                        <span>Python</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;">
                        <span>Javascript</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%;">
                        <span>C#</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 40%;">
                        <span>Java</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%;">
                        <span>PHP</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading" data-parent="#exp"g data-toggle="collapse" href="#techs">
            <div class="panel-title">
                Как я оцениваю свое знание технологий
            </div>
        </div>
        <div id="techs" class="panel-collapse collapse">
            <div class="panel-body">

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 78%;">
                        <span>Desktop</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 65%;">
                        <span>WEB</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%;">
                        <span>VCS</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 33%;">
                        <span>GameDev</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 20%;">
                        <span>Android</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 15%;">
                        <span>Tests</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
