<div class="panel-group" id="exp">
    <div class="panel panel-default">
        <div class="panel-heading" data-parent="#exp" data-toggle="collapse" href="#web">
            <div class="panel-title">
                Как я оцениваю свое владение django-web'ом
            </div>
        </div>
        <div id="web" class="panel-collapse collapse in">
            <div class="panel-body">
                Естественно, я знаю еще море других пакетов, но тут решил выписать самые важные по моему мнению:
                <div class="clearfix" style="padding-bottom: 0.5em"></div>
                <button class="btn btn-sm btn-success">Для бэкэнда</button>
                <button class="btn btn-sm btn-primary">Для деплоя</button>
                <button class="btn btn-sm btn-warning">Для фронтэнда</button>
                <hr/>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 85%;">
                        <span>django | 1.5 year | advanced </span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 70%;">
                        <span>django-cms | 1.5 year | intermediate</span>
                    </div>
                </div>

                 <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 68%;">
                        <span>Django-REST-framework | 0.5 year | intermediate </span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                        <span>celery | 0.5 year | intermediate</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                        <span>webassets | 1 year | intermediate</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;">
                        <span>git | 2 year | advanced</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;">
                        <span>fabric | 1 year | intermediate</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%;">
                        <span>vagrant | 0.5 year | intermediate</span>
                    </div>
                </div>
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" style="width: 50%;">-->
                        <!--<span>capistrano | beginner</span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 75%;">
                        <span>jquery | 2.5 year | advanced</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 70%;">
                        <span>knockoutjs | 1 year | advanced</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 60%;">
                        <span>requirejs | 0.5 year | intermediate</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-parent="#exp" data-toggle="collapse" href="#languages">
            <div class="panel-title">
                Как я оцениваю свое знание языков
            </div>
        </div>

        <div class="panel-collapse collapse" id="languages">
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%;">
                        <span>C++</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 70%;">
                        <span>Python</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;">
                        <span>Javascript</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%;">
                        <span>C#</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 45%;">
                        <span>SQL</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 38%;">
                        <span>Java</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%;">
                        <span>PHP</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" data-parent="#exp" data-toggle="collapse" href="#techs">
            <div class="panel-title">
                Как я оцениваю свое знание платформ
            </div>
        </div>
        <div id="techs" class="panel-collapse collapse">
            <div class="panel-body">

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 78%;">
                        <span>Desktop</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 65%;">
                        <span>WEB</span>
                    </div>
                </div>

                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" style="width: 50%;">-->
                        <!--<span>VCS</span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 33%;">
                        <span>GameDev</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 20%;">
                        <span>Mobile</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
