<div class="panel panel-default">
    <div class="panel-heading" data-parent="#skills" data-toggle="collapse" href="#skills-uncomm">
        <div class="panel-title">Некоммерческое участие, личные проекты</div>
    </div>
    <div id="skills-uncomm" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>When</th>
                    <th>Where</th>
                    <th>What</th>
                    <th>Technology</th>
                </tr>
                </thead>
                <tr>
                    <td>с 09.2010</td>
                    <td>ИГУ ИМЭИ</td>
                    <td>Консультация студентов по дипломным проектам
                        <ul>
                            <li>Распознование знаков
                            <li>Анализ битумных эмульсий
                            <li>прочее
                        </ul>
                    </td>
                    <td>OpenCV, Qt, PANDA</td>
                </tr>
                <tr>
                    <td>с 10.2013</td>
                    <td>ИГУ ИМЭИ</td>
                    <td>Разработка персонального сайта для предоставления информации студентам по преподаваемым дисциплинам</td>
                    <td>PHP, Javascript, CSS, HTML, MySQL, Python, Django, PostgreSQL, SCSS, bower, Grunt, git, fab</td>
                </tr>
                <tr>
                    <td>с 10.2013</td>
                    <td>ИрГТУ</td>
                    <td>Разработка системы для анализа битумных эмульсий на основе цифровых фотографий</td>
                    <td>Qt, OpenCV</td>
                </tr>
            </table>
        </div>
    </div>
</div>