<div class="panel panel-default">
    <div class="panel-heading" data-parent="#skills" data-toggle="collapse" href="#skills-uncomm">
        <div class="panel-title">Некоммерческое участие, личные проекты</div>
    </div>
    <div id="skills-uncomm" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>When</th>
                    <th>Where</th>
                    <th>What</th>
                    <th>Technology</th>
                </tr>
                </thead>
                <tr>
                    <td>с 09.2010</td>
                    <td>ИГУ ИМЭИ</td>
                    <td>Консультация студентов по дипломным проектам
                        <ul>
                            <li>Распознование знаков
                            <li>Классификация фотографий
                            <li>Анализ битумных эмульсий
                            <li>Генератор звездных карт
                        </ul>
                    </td>
                    <td>OpenCV, Qt, sqlite, python, C++</td>
                </tr>
                <tr>
                    <td>с 10.2013</td>
                    <td>ИГУ ИМЭИ</td>
                    <td>
                        Разработка персонального сайта для предоставления
                        информации студентам по преподаваемым дисциплинам<br>
                        <a href="https://github.com/SevenLines/django-tealeaf"></a>
                        <a href="http://tealeaf.su">tealeaf.su</a>
                    </td>
                    <td>AMD Javascript, Django, PostgreSQL, SCSS, bower, git, fab</td>
                </tr>
                <tr>
                    <td>с 10.2013</td>
                    <td>ИрГТУ</td>
                    <td>
                        Разработка системы для анализа битумных эмульсий
                        на основе цифровых фотографий по просьбе битумщиков <br/>
                        <a href="https://github.com/SevenLines/Liquor">Liqour</a>

                    </td>
                    <td>Qt, OpenCV</td>
                </tr>
                <tr>
                    <td>с 10.2014</td>
                    <td>ИрГИД</td>
                    <td>
                        Разработка и поддержка сайта для экскурсионного агенства<br>
                        <a href="https://github.com/SevenLines/django-irgid"></a>
                        <a href="http://irgid.ru">irgid.ru</a>
                    </td>
                    <td>Django, PostgreSQL, Javascript</td>
                </tr>
            </table>
        </div>
    </div>
</div>