<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        <!-- build:include ../bower_components/bootstrap/dist/css/bootstrap.min.css --><!-- /build -->
        <!-- build:include ../css/style.css --><!-- /build -->
    </style>

    <script>
        <!-- build:include ../bower_components/jquery/dist/jquery.min.js -->
        <!-- /build -->
    </script>
    <script>
        <!-- build:include ../bower_components/bootstrap/dist/js/bootstrap.min.js -->
        <!-- /build -->
    </script>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="css/style.css"/>-->
    <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
</head>
<body>