<!-- build:include ../build/_header.html --><!-- /build -->

<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <div class="panel-group" id="skills">
                <!-- build:include descriptions/comm.html --><!-- /build -->
                <!-- build:include descriptions/uncomm.html --><!-- /build -->
                <!-- build:include descriptions/db.html --><!-- /build -->
                <!-- build:include descriptions/web.html --><!-- /build -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                <a class="list-group-item">Оформление: <b>bootstrap, SCSS</b></a>
                <a class="list-group-item">Эффекты: <b>jquery, CSS3</b></a>
                <a class="list-group-item">Пакетный менеджер: <b>bower</b></a>
                <a class="list-group-item">Сборка: <b>grunt</b></a>
                <a class="list-group-item">VCS: <b>git</b></a>
                <a class="list-group-item">IDE: <b>pycharm</b></a>
                <a class="list-group-item">OS: <b>ubuntu</b></a>
                <a class="list-group-item active" href="https://github.com/SevenLines"><b>Github:</b>
                    https://github.com/<b>SevenLines</b></a>
                <!--<a class="list-group-item active" href="http://stackoverflow.com">Help: <b>stackoverflow.com</b></a>-->
            </div>
        </div>
    </div>
</div>

<!-- build:include ../build/_footer.html --><!-- /build -->
