<!-- build:include ../build/_header.html --><!-- /build -->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <div class="panel-group" id="skills">
                <!-- build:include descriptions/exp.html --><!-- /build -->
                <!-- build:include descriptions/db.html --><!-- /build -->
                <!-- build:include descriptions/web.html --><!-- /build -->
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->

<!-- build:include ../build/_footer.html --><!-- /build -->
